/* Custom normalize */
body, html {
    margin: 0 auto;
    border: 0;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    height: auto;
    line-height: 1.2;
    overflow-x: hidden;
}
body{
    background: url('../images/pattern.jpg') repeat 0 0 $color-blanco;
}
*, *:focus{outline: none !important;}
figure {margin: 0;}
a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
input {
    font-family: "Roboto", sans-serif;
}