/*** Mixins ***/
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $top 0%,$bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $top 0%,$bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */
}

/*** Flex helpers ***/
@mixin display-flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    display: flex;
}

@mixin flex ($values){
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -ms-flexbox-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin justify-content($values) {
    -webkit-box-justify-content: $values;
    -moz-box-justify-content:  $values;
    -webkit-justify-content:  $values;
    -ms-justify-content:  $values;
    justify-content:  $values;
}

@mixin align-items($values) {
    -webkit-box-align-items: $values;
    -moz-box-align-items:  $values;
    -webkit-align-items:  $values;
    -ms-align-items:  $values;
    align-items:  $values;
}

@mixin flex-wrap($values) {
    -webkit-box-flex-wrap: $values;
    -moz-box-flex-wrap:  $values;
    -webkit-flex-wrap:  $values;
    -ms-flex-wrap:  $values;
    flex-wrap:  $values;
}

@mixin flex-basis($values) {
    -webkit-flex-basis:$values;
    flex-basis: $values;
    -ms-flex:$values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

/*** Media Queries ***/
@mixin screen-small {
    @media only screen and (min-width: 640px){
        @content;
    }
}

@mixin screen-mediun {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}