/* Global vars SASS */
$color-blanco: #fff;
$color-negro: #000;
$color-gris: #787878;
$color-gris-medio: #939797;
$color-gris-claro: #797979;
$color-gris-titulo: #939797;
$color-gris-input: #f7f6f6;
$color-gris-keyrus: #7b7b7b;
$color-gris-iconos: #e2e1e1;
$color-azul: #2993de;
$color-azul-texto: #29a9de;

/* Custom alert*/
$color-rojo: #a93b3b;
$color-rojo-borde: #db5252;
$color-rojo-bg-top: #f07c7c;
$color-rojo-bg-bottom: #ed6e6e;

$color-verde: #299a60;
$color-verde-bg-top: #66e1a3;
$color-verde-bg-bottom: #58dc97;
$color-verde-borde: #49cf8b;